// @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700");
@import url("https://db.onlinewebfonts.com/c/ef3aab6eae44b00ed09594544784e6d8?family=Axiforma+Regular");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/*COLORS*/
$color: #1d1d1f;
// $white: #ffffff;
// $black: #000000;
$dark: #373739; //#4A154B; //#0A2254;
// $lighter-gray: #eff2f5;
// $light-gray: #e3e8ec;
$lighter-gray: #f5f5f7;
// $light-gray: #D2D2D7;
$medium-light-gray: #c4c4c4; //939799
$medium-gray: #949494; //939799
$medium-dark-gray: #696969;
$dark-medium-gray: #808080;
// $dark-gray: #6E6E73; //Font color
$antd-gray: #bfbfbf;
$transp-gray: #d0d0d01e;
$transp-dark-gray: #07051460;
$light-blue: #f4f7fb; // #d1dfffda; //#f4f7fb; //Background
// $primary-blue: #0057E5;
$primary-blue: #436bfb;
$primary-blue-hover: #1890ff; // antd primary color
$medium-blue: #424fa7;
$active-blue: #1890ff;
// $transp-blue: #436bfb18;
$transp-blue: #436bfb23;
$secondary-blue: #8aeaff;
$transp-green: #f5f5f7;
$light-green: #00e6a5;
$medium-green: #00cba1;
$primary-green: #01af9c;
$primary-red: #ff382b;
$primary-yellow: #ffe812;
$primary-orange: #ff6347;
$light-pink: #f58292;
$primary-pink: #e3a7c4;
$primary-blue-antd: #1890ff;
$vs-dark: #1e1e1e;
$disagree: #f58292;
$neutral: #d2d2d7;
$agree: #00cba1;

$navy: #1c253c;

/*FONTS*/
// $font-en: "Open Sans";
// $font-en: "Axiforma Regular";
$font-en: "pretendard";
// $font-title: "futura-pt";
// $font-title-en: "Axiforma Regular";
$font-title-en: "pretendard";
// $font-title-en: "Open Sans";
// $font-title-en: "futura-pt";
// $font-title-en: "Josefin Sans";
// $font-title-en: "Roboto Slab";
// $font-title-en: "futura-pt";
// $font-kr: "noto-sans-cjk-kr", sans-serif;
$font-kr: "pretendard";
// $font-basic: 'basic-sans', sans-serif;

/*BREAKPOINTS*/
$breakpoints: (
  "xs": 575.98px,
  "sm": 767.98px,
  "md": 991.98px,
  "lg": 1199.98px,
);

/*SALM CLINIC*/
/*COLOR*/
$brand-text: #01af9c;
$brand-main: #00cba1;
$brand-light: #00e6a5;
$brand-gradient-one: #00e6a5;
$brand-gradient-two: #01af9c;
$black: #1d1d1f;
$light-black: #373739;
$dark-gray: #6e6e73;
$gray: #d2d2d7;
$light-gray: #f5f5f7;
$white: #ffffff;
$red: #ff382b;
$pink: #373739;
$yellow: #6e6e73;
$blue: #d2d2d7;
